%h3 
  MORE WORK
%p 
  A SHOWCASE OF PROJECTS, <br>
  DESIGN AND DEVELOPMENT.
    
%section.showcase
  .showcase-img
    %a.square{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.others}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.others}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services
    %a.square{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.others}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.others}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services
    %a.square{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.others}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.others}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services