---
layout: page
---

.project-index
  .links
    %a.left(href="/")
      %i.fa.fa-angle-double-left 
      %span Home
    %a.right(href="/designs")
      %i.fa.fa-angle-double-right 
      %span Designs
  %h3 Front End
  .projects
    .project-item
      %a(href="https://pkuttiya-employee-record.firebaseapp.com/" target="_blank")
        %img(src="http://res.cloudinary.com/duyzz578q/image/upload/v1510595660/frontend/employee_record.png")
        .details
          %h4 Employee Record
          %span Node.js | React.js | Firebase
    .project-item
      %a(href="https://pkuttiya-react-food-order.firebaseapp.com/" target="_blank")
        %img(src="http://res.cloudinary.com/duyzz578q/image/upload/v1510594917/frontend/food_order.png")
        .details
          %h4 Food Order
          %span Node.js | React.js | Firebase
    .project-item
      %a(href="https://pkuttiya-github-score.firebaseapp.com/" target="_blank")
        %img(src="http://res.cloudinary.com/duyzz578q/image/upload/v1510595841/frontend/github_score.png")
        .details
          %h4 Github Score
          %span Node.js | React.js | Firebase
