%head
  %meta{charset: "utf-8"}
  %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %title
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  %link{rel: "stylesheet", href: "/assets/main.css" }
  %script{src:"/assets/js/jquery.min.js"}
