%nav
  .nav#page
    #logo
      %h3 
        %a{href: "/"} Paul Kuttiya
    .nav-right.text-center
      %ul
        %li
          %a{href: "#"} 
            %i.fa.fa-file
            %span
              resume
        %li
          %a{href: "#"} 
            %i.fa.fa-envelope            
            %span
              contact
        %li
          %a{href: "{{site.github}}", target: "_blank"}
            %i.fa.fa-github.github-o
            %span 
              github
      