#nav-background
  #nav-container
    %header#nav-header
      %h1
        %a#nav-logo{:href => "#"} FlexNav
      #nav-menu-button
        .hamburger
        .hamburger
        .hamburger
            
    %nav
      %ul.nav-ul.hide-ul
        %li
          %a.nav-link.active-link{:href => "#"} Home
        %li
          %a.nav-link{:href => "#"} News
        %li
          %a.nav-link{:href => "#"} Contact
        %li
          %a.nav-link{:href => "#"} About
