%link{href: "/assets/favicons/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/assets/favicons/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%link{href: "/assets/favicons/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/assets/favicons/manifest.json", rel: "manifest"}
%meta{content: "#000000", name: "theme-color"}