.row.text-center.landing
  .col-md-8.col-md-offset-2
    %section.introduction
      %p
        Hi, I am a New York City based software engineer, and a dog lover. My specialization is in web development with focusing on TDD and DRY principles.
        I am fluent in Ruby on Rails.
        I regularly enjoy working with, and connecting to other talented individuals.
      %p 
        You can learn more about some of my endeavors and personal projects from the section below.

    {% haml partial/showcase.haml %}
        