.row.text-center.landing
  .col-md-8.col-md-offset-2
    %section.introduction
      %p
        Hi, I am a New York City based software engineer, specializing in web development with focusing on TDD and DRY principles.
        I am fluent in Ruby on Rails and React.
        I regularly enjoy working with, and connecting to other talented individuals.
      %p 
        I'm always looking forward to expanding my potentials and skills. 
        If you like my work, or would like to have a chat, please let me know.
        I'd love to talk to you. Check out below for some of my recent projects.

    {% haml partial/showcase.haml %}
        
