.row.text-center.landing
  .col-md-8.col-md-offset-2
    %section.introduction
      %p
        Hi, I am a self starter New York City based software engineer, who is coding for food, friend and fun; not in particular order. 
      %p
        I am a full stack developer specialized in web development with TDD and DRY principles, focusing on Ruby on Rails and MERN stack.
      %p
        I also prioritize in <a href="/designs">Design</a>, as well as <a href="/front_end">Front end</a> development
      %p  
        You can also learn more about some of my full stack development from the section below.

    {% haml partial/showcase.haml %}
        