.container
  .row
    %nav.col-md-8.col-md-offset-2
      .nav#landing
        %ul
          #logo
            %li
              %h2 Paul Kuttiya
          #side-nav
            %h4
              -# %li
              -#   %a{href: "#"} projects
              %li
                %a{href: "/resume"} resume
              %li
                %a{href: "#"} contact
              %li
                %a{href: "{{site.github}}", target: "_blank"} github
          