%section.showcase
  .showcase-img
    %a.wide{href: "/projects/{{page.showcase[0]}}"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[0]}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase[0]}}/logo.png")
      .overlay
        .text
          .image-title Myflix
          %p A video subscription services
    %a.square{href: "/projects/{{page.showcase[1]}}"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[1]}}/banner.png);"}
      .cover-logo
        %img#photogram(src="/assets/img/{{page.showcase[1]}}/logo.png")
      .overlay
        .text
          .image-title Photogram
          %p A video subscription services
    %a.square{href: "/projects/{{page.showcase[2]}}"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[2]}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase[2]}}/logo.png")
      .overlay
        .text
          .image-title Order
          %p Single page online sushi order app
    %a.wide{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[1]}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase[2]}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services