%section.showcase
  .showcase-img
    %a.wide{href: "/projects/{{page.showcase[0]}}"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[0]}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase[0]}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services
    %a.square{href: "/projects/{{page.showcase[1]}}"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[1]}}/banner.png);"}
        .cover-logo
          %img(src="/assets/img/{{page.showcase[1]}}/logo.png")
        .overlay
          .text
            .image-title myflix
            %p A video subscription services
    %a.square{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.showcase}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services
    %a.wide{href: "#"}
      .img{style: "background-image: url(/assets/img/{{page.showcase[1]}}/banner.png);"}
      .cover-logo
        %img(src="/assets/img/{{page.showcase[1]}}/logo.png")
      .overlay
        .text
          .image-title myflix
          %p A video subscription services