.page-header.clearfix
  .pull-left
    %a{href: "{{site.resume_pdf}}", target: "_blank", data: {toggle: "tooltip"}, title: "Download pdf", download: "pkuttiya_resume.pdf"} 
      %i.fa.fa-file-pdf-o
    %a{href: "mailto:{{site.email}}", target: "_blank", data: {toggle: "tooltip"}, title: "Mail to"} 
      %i.fa.fa-envelope-o
    %a{href: "{{site.linkedin}}", target: "_blank", data: {toggle: "tooltip"}, title: "Linkedin"} 
      %i.fa.fa-linkedin
    %a{href: "{{site.github}}", target: "_blank", data: {toggle: "tooltip"}, title: "Github"} 
      %i.fa.fa-github
  .pull-right
    %a {{site.email}}