.page-header.clearfix
  .pull-left
    %a{href: "#", data: {toggle: "tooltip"}, title: "Download pdf"} 
      %i.fa.fa-file-pdf-o
    %a{href: "#", data: {toggle: "tooltip"}, title: "Mail_to"} 
      %i.fa.fa-envelope-o
    %a{href: "#", data: {toggle: "tooltip"}, title: "Linkedin"} 
      %i.fa.fa-linkedin
    %a{href: "#", data: {toggle: "tooltip"}, title: "Github"} 
      %i.fa.fa-github
  .pull-right
    %a{} {{site.email}}