.about.clearfix
  %p#code.pull-left
    Skills
  #skills.pullright
    %p
      Primarily participating projects involved with Ruby on Rails, Javascript, Jquery and React. 
      Additionally, proficiency in RESTful web applications, Ruby APIs, HTML and CSS.
      Priority in extensible and clean code implemented by robust test suites. 
    %p
      Extensive experience with front-end and back-end frameworks along with its associated tools and APIs such as Sinatra, Rails, Backbone.js, React.js, Handlebars.js, Haml, and Express.js. 
      Ultimately, comprehended the core principles of HTTP, object-oriented design, and relational
      databases. 
    %p
      Comfortable with Git and continuous delivery.