.about.clearfix
  %h5
    Skills
  %p
    Primarily involved with Ruby on Rails, Javascript, Jquery and React. 
    Additionally, proficiency in RESTful web applications, Ruby APIs, HTML and CSS, as well as prioritize in extensible and clean code implemented by robust test suites. 
  %p
    Extensive experience with front-end and back-end frameworks along with its associated tools and APIs such as Sinatra, Rails, Backbone.js, React.js, Handlebars.js, Express.js, Haml and Sass. 
    Ultimately, comprehended in the core principles of HTTP, object-oriented design, and relational
    databases. 
  %p
    Comfortable with Git and continuous delivery.
.about.clearfix
  %h5
    Education
  #skills.pullright
    %p.text-muted
      2006 - 2010 
    %p
      BE Electrical Engineer, CMU
    %p.text-muted
      2017
    %p
      Launch School