---
layout: page
permalink: /contact
---
.contact-info
  .text-center
    %h2 Contact info
    .contact-wrapper
      %h3.text-muted Email
      %h3 {{site.email}}
    .contact-wrapper
      %h3.text-muted LinkedIn
      %h3 paul-kuttiya
    .contact-wrapper
      %h3.text-muted Github
      %h3 pookzzz2231