---
layout: resume
permalink: /resume
---

%ul.timeline
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2012
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Twig Consultant, New York
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %small
          Successfully acomplish a role as a part of the team which leads ...        
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2010
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Leo Foods
          %h6.text-muted Electrical Engineer
      .timeline-body
        %small
          Successfully acomplish a role as a part of the team which leads ...
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2012
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Twig Consultant, New York
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %small
          Successfully acomplish a role as a part of the team which leads ...        
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2010
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Leo Foods
          %h6.text-muted Electrical Engineer
      .timeline-body
        %small
          Successfully acomplish a role as a part of the team which leads ...