---
layout: resume
permalink: /resume
---
%p.exp Work experience
%ul.timeline
  %li.timeline-inverted
    .timeline-badge
      %small.end current
      %small.begin 2017
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Twig Consultant, New York
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %small
          Successfully acomplish a role as a part of the team which leads ...
  %li.timeline-inverted
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Busy NewYork
          %h6.text-muted Web Developer | Operation manager
      .timeline-body
        %small
          
  %li.timeline-inverted
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 StickyRice Mag
          %h6.text-muted Web Developer
      .timeline-body
        %small
          Volunteered to join a team and helped contribute to a non-profit organization, 
          which aim to launch a startup that could benifit the comunity in Woodside NY.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2012
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Twig Consultant, New York
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %small
          Consolidate and improve the company legacy projects, 
          advise and explain engineering aspect to clients, 
          establish a high quality detailed electrical construction design for high rise buildings, hotels, food industries and well known retails,
          some notable projects in New York includes Marriott hotel, School of visual arts, Culinary School NYC and Nintendo.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2010
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Leo Foods
          %h6.text-muted Electrical Engineer
      .timeline-body
        %small
          Successfully accomplish the large scale construction project for the company new main plant, 
          additionally, as a part electrical leading team, 
          assigned to manage the majority of the electrical design for the project. 