---
layout: resume
permalink: /resume
---
%h5.exp Work experience
%ul.timeline
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2017
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Bigbear Cottage, New York
          %h6.text-muted Web developer
      .timeline-body
        %p
          Contribute to the team by providing user-friendly website modifications, clear navigation design, scaled performance, layout, logic implementation and function coding according to project's specifications.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2015
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Tazala
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %p
          Applying knowledge of electrical design, fundamental and safety code for participated projects, responsible for projects negotiation and estimation, provide guidance for contractors and architects to accomplish results as needed.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2014
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Busy NewYork
          %h6.text-muted Web Developer | Operation manager
      .timeline-body
        %p
          Participated in the company as an operating manager partner, successfully manage and create a website for clients in New York, specifically in restuarant business. 
  %li.timeline-inverted
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 StickyRice Mag
          %h6.text-muted Web Developer
      .timeline-body
        %p
          Volunteered to join a team and helped contribute to a non-profit organization, 
          which aim to launch a startup that could benifit the comunity in Woodside NY.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2012
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Twig Consultant, New York
          %h6.text-muted Electrical Engineer | Electrical consultant
      .timeline-body
        %p
          Consolidate and improve the company legacy projects, 
          advise and explain engineering aspect to clients, 
          establish a high quality detailed electrical construction design for high rise buildings, hotels, food industries and well known retails,
          some notable projects in New York includes Marriott hotel, School of visual arts, Culinary School NYC and Nintendo.
  %li.timeline-inverted
    .timeline-badge
      %small.begin 2010
    .timeline-panel
      .timeline-heading
        .timeline-title
          %h5 Leo Foods
          %h6.text-muted Electrical Engineer
      .timeline-body
        %p
          Successfully accomplish large scale construction projects for the company new main plant, 
          additionally, as a part electrical leading team, 
          assigned to manage the majority of the electrical design for the project. 