---
layout: page
title:  "About Us"
permalink: /resume
---

#resume-page
  .page-header.clearfix
    .pull-left
      %a{href: "#", data: {toggle: "tooltip"}, title: "Download pdf"} 
        %i.fa.fa-file-pdf-o
      %a{href: "#", data: {toggle: "tooltip"}, title: "Mail_to"} 
        %i.fa.fa-envelope-o
      %a{href: "#", data: {toggle: "tooltip"}, title: "Linkedin"} 
        %i.fa.fa-linkedin
      %a{href: "#", data: {toggle: "tooltip"}, title: "Github"} 
        %i.fa.fa-github
    .pull-right
      %a{} {{site.email}}
  %ul.timeline
    %li.timeline-inverted
      .timeline-badge
        %small 2016
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Mussum ipsum cacilds
        .timeline-body
          %p
            Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, 
    %li.timeline-inverted
      .timeline-badge
        %small 2016
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Mussum ipsum cacilds
        .timeline-body
          %p
            Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé fa