/ Modal
#cart.modal
  .modal-content
    .modal-header
      %span.close ×
      %h2 Your Cart
    .modal-body
      %ul.cart-lists
        %li
          .list-container
            %span Pizza
            .edit
              %span.quality 3
              %a.minus(href="#")
                %i.fa.fa-minus-circle
              %a.plus(href="#")
                %i.fa.fa-plus-circle
              %span.item-price $9.82
              %a.delete(href="#")
                %i.fa.fa-trash-o
        %li
          .list-container
            %span Pizza Chicked BBQ
            .edit
              %span.quality 3
              %a.minus(href="#")
                %i.fa.fa-minus-circle
              %a.plus(href="#")
                %i.fa.fa-plus-circle
              %span.item-price $9.82
              %a.delete(href="#")
                %i.fa.fa-trash-o
    .modal-footer
      .total
        %h2
          %span Total:
          %span $24.24
      %button.checkout
        %h1
          %a(href="/designs/food_order/checkout") checkout