.nav-container
  %nav
    #nav-logo
      %h1 Sushi Order
    %ul.nav-icons
      %li
        %a#cart-items(href="#")
          .cart
            %span.total 3
            %img(src="/assets/images/food_order/svg/cart.svg")
          %span $32.98