.nav-container
  %nav
    #nav-logo
      %h1
        %a(href="/designs/food_order") Food Order
    %ul.nav-icons
      %li
        %a#cart-items(href="#")
          .cart
            %span.total 3
            %i.fa.fa-shopping-basket
          %span $32.98