---
layout: designs/food_order
---

{% haml designs/food_order/_nav.haml %}

.banner
  %h1 Menu List
  %p Discover our delicious menu

#menu-items.grid
  - 12.times do
    .item
      %img(src="/assets/images/food_order/product-burger.jpg")
      .info
        %h4 Beef Burger
        %span Beef, cheese, potato, onion, fries
      .bottom
        %span $9.00
        %button(href="#") add to cart
        
{% haml designs/food_order/_modal.haml %}
{% haml designs/food_order/_script.haml %}