!!! 5
%html
  {% haml head.haml %}
  %body
    %header
      {% haml landing_page/header.haml %}
    .fade-in
      %script(src="/assets/js/add_fade.js")
      .container
        {{ content }}
      %footer
        {% haml footer.haml %}
    %script(src="/assets/js/remove_fade.js")
      

