!!! 5
%html
  {% haml head.haml %}
  %body
    %header
      {% haml header.haml %}
    .container.fade-in
      %script(src="/assets/js/add_fade.js")
      .row.project-show
        %section.project-header
          {% haml project/header.haml %}
          {% haml project/description.haml %}
        %section.content.wrapper
          {{ content }}
        %section.footer.text-center
          {% haml project/footer.haml %}
    %footer
      {% include footer.haml %}
    %script(src="/assets/js/remove_fade.js")
