---
layout: page
permalink: /designs
---

.project-index
  .links
    %a.left(href="/")
      %i.fa.fa-angle-double-left 
      %span Home
    %a.right(href="/front_end")
      %i.fa.fa-angle-double-right 
      %span Front End
  %h3 Designs
  .projects
    .project-item
      %a(href="/designs/flexnav" target="_blank")
        %img(src="http://res.cloudinary.com/duyzz578q/image/upload/v1510590185/designs/flexnav.png")
        .details
          %h4 Flexnav
    .project-item
      %a(href="/designs/food_order" target="_blank")
        %img(src="http://res.cloudinary.com/duyzz578q/image/upload/v1510592026/designs/food_order.png")
        .details
          %h4 Food Order